<div id="bookListWrapper">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search here..">
        </div>
    </form>
    <div class="row">
        <ul class="list-unstyled">
            <li class="book" ng-repeat="book in books">
                <div class="book-details clearfix">
                    <h4>{{book.name}}</h4>
                    <p>ID: {{book.id}}</p>
                    <ul class="list-unstyled list-inline">
                        <li>Author : {{book.author}}</li>
                        <li>Type : {{book.cat}}</li>
                        <li>Genre : {{book.genre_s}}</li>
                        <li>Price : {{book.price | currency:$}}</li>
                    </ul>
                    <button class="btn btn-info pull-right">Add to Cart</button>
                </div>
            </li>
        </ul>
    </div>
</div>